.content {
width: 74%;
}

.image {
    /* background-image: url(../images/main_image.JPG); */
    display: block;
    width: 20%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    /* padding-left: 70%;
    padding-top: 40px;
    opacity: .8;
    position: relative; */
}

.main {
    color: #fff;
}

/* .main::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2a2c2f;
    opacity: .3;
} */

.cover {
    /* position: relative; */
    display: flex;
}

.title {
        /*background: rgba(0,0,0,0.7); (полупрозрачность)*/
        /* background: #222; */
        color: #fff;
        border-radius: 2px;
        /* position: absolute; */
        left: 0;
        top: 10px;
        font-size: 70px;
        padding: 60px 60px;
        text-align: center;
        font-weight: 900;
        font-family: 'Evolventa Bold';
        
}

.subtitle {
    color: #fff;
    border-radius: 2px;
    /* position: absolute; */
    left: 0;
    top: 200px;
    font-size: 29px;
    padding: 0 60px;
    text-align: center;
    font-weight: 500;
    margin:  60px auto;
    display: flex;
    font-family: 'Evolventa Regular';
    color: #fff;
            /* font-family: monospace; */
            overflow: hidden; /* Ensures the content is not revealed until the animation */
            border-right: .15em solid #fff; /* The typwriter cursor */
            white-space: nowrap; /* Keeps the content on a single line */
            /* margin: 0 auto; Gives that scrolling effect as the typing happens */
            /* letter-spacing: .15em; Adjust as needed */
            animation: 
              typing 3.5s steps(20, end),
              blink-caret .5s step-end infinite;
              animation-iteration-count: infinite;
          }
          
          /* The typing effect */
          @keyframes typing {
            from { width: 0 }
            to { width: 35% }
          }
          
          /* The typewriter cursor effect */
          @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: #fff }

}

.profession__is-hidden {
    display: none;
}

.profession__static {
    margin: auto;
}